@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import 'react-calendar/dist/Calendar.css';
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0px;;
  height: 100%;
}

// Home
.textContainer {
  text-align: center;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}
  
//Home Slider css
.image {
  object-fit:cover;
  width: 100%;
  height: 500px;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #817266;
  z-index: 10;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #817266;
  z-index: 10;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.00);
}

.slider {
  background-color: white;
  height: max-content;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 0;
}

.footer {
  background-color: grey;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

//DashBoard
img {
  max-width: 100%;
  max-height: 100%;
}

.journalDiv {
  position: relative;
  max-width: 25%;
  max-height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.journalDiv:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}


.journalTitle {
  position: absolute;
  top: 20%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

.journalTitle:hover {
  background-color: rgba(255,255,255, 0.5);
  color: black;
}


.dashBoard {
  background-image: url("../images/wood-background-1.jpeg");
  position: absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

//Entries
.entryContainer {
  text-align: center;
}
.entryList {
  padding: 20px;
  margin: 20px 0;
}

.textarea {
	min-height: 5em;
	max-height: 50vh;
	width: 100%;
}

.entryL {
  display: flex;
  flex-wrap: wrap;
}

.entryListItem {
  text-align: center;
}

.btn {
  margin: 10%;
}

///new form

.newForm {
  margin: 10%;
}

.newFormBtns {
  text-align: center;
}


