@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import 'react-calendar/dist/Calendar.css';
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}
h3{
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0px;;
  height: 100%;
}

.top-bar{
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

// Home
.textContainer {
  padding: 20px;
  text-align: center;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.secOne {
  h3 {
    margin-bottom: 3%;
  }
  p {
    margin: 0 10% 5% 10%;
  }
}

.reasons {
  text-align: center;
  padding: 25px;

  h5 {
    margin: 15px;
  }

  p {
    text-align: center;
    margin: 0 10% 0 10%;
  }
}

.why-pics {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.journal-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-divider img {
  width: 100%;
  height: 700px;
}

//Home Slider css
.image {
  object-fit:cover;
  width: 100%;
  height: 500px;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #817266;
  z-index: 10;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #817266;
  z-index: 10;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.00);
}

.slider {
  background-color: white;
  height: max-content;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 0;
}

.footer {
  color: white;
  background-color: #B9AEA0;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

//DashBoard
img {
  max-width: 100%;
  max-height: 100%;
}

.journalDiv {
  position: relative;
  max-width: 25%;
  max-height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-top: 0;
}

.journalDiv:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.journalTitle {
  position: absolute;
  top: 20%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

.journalTitle:hover {
  background-color: rgba(255,255,255, 0.5);
  color: black;
}

.dashBoard {
  background-image: url("../images/wood-background-1.jpeg");
  background-color: #817266;
  position: absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.stoicQuoteContainer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.stoicQuoteText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.stoicQuote {
  margin: auto;
  border-radius: 10%;
  text-align: center;
}

.quoteText {
  border-radius: 20%;
  color: white;
  font-size: 28px;
  font-weight: bold;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-shadow: 2px 2px 4px #000000;
}

.quoteHeader {
  margin: 5%;
  border-radius: 10%;
}

//Entries
.entryContainer {
  text-align: center;
}
.entryList {
  padding: 20px;
  margin: 20px 0;
}

.entryL {
  display: flex;
  flex-wrap: wrap;
}

.listImage {
  width: 100%;
  height: 200px;
  border-radius: 50% 50% 0px 0px;  
}

.entryDiv {
  text-align: center;
  border-radius: 50% 50% 15px 15px; 
  background-color: #B9AEA0;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.entryDiv:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.entryContent {
 padding: 10px;
}

.entry-btn {
  margin-left: 5%;
  margin-right: 5%;
}

.entryShowContainer {
  text-align: center;
}

.entryShow {
  margin: 5% auto 5% auto;
  background-color: #B9AEA0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 60%;
  padding: 3rem;
  border-radius: 10px;
  color: white;

  img {
    border-radius: 10px;
    width: 90%;
    height: 400px;
  }

  h2 {
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;

  }
  h4 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
    text-shadow: 2px 2px 4px #000000;
  }
  p {
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    background:white;
    margin: auto;
    width: 90%;
  }
}

///Forms

.newForm {
  margin: 5%;
  background-color: #B9AEA0;
  padding: 5%;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.newFormTitle {
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

.formInput {
  border-radius: 10px;
}

.textarea {
  border-radius: 10px;
  min-height: 5em;
	max-height: 50vh;
	width: 100%;
}

.signRegForm {
  background-color: #B9AEA0;
  font-weight: bolder;
  color: white;
  margin-top: 10%;
  border-radius: 10px;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
  text-shadow: 2px 2px 4px #000000;
}

// btnGroup

.btn {
  margin: 1% 5%;
}

.btnGroup {
  text-align: center;
}

.popup {
  height: 40rem;
  width: 30rem;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  background-color: #B9AEA0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


