@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import 'react-calendar/dist/Calendar.css';
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}
h3{
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0px;;
  height: 100%;
}

// Home
.textContainer {
  padding: 20px;
  text-align: center;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.why-pics {
display: inline;
margin: 0 auto;
// margin-left: -25%; //centers the image
height: 100%;
width: auto;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.center-image {
  display: block;
  margin: 0 auto;
}

.journal-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-divider img {
  width: 100%;
  height: 700px;
}

  
//Home Slider css
.image {
  object-fit:cover;
  width: 100%;
  height: 500px;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #817266;
  z-index: 10;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #817266;
  z-index: 10;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.00);
}

.slider {
  background-color: white;
  height: max-content;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 0;
}

.footer {
  background-color: #B9AEA0;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

//DashBoard
img {
  max-width: 100%;
  max-height: 100%;
}

.journalDiv {
  position: relative;
  max-width: 25%;
  max-height: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: auto;
  margin-bottom: 10%;
  margin-top: 10%;
}

.journalDiv:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}


.journalTitle {
  position: absolute;
  top: 20%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

.journalTitle:hover {
  background-color: rgba(255,255,255, 0.5);
  color: black;
}

.dashBoard {
  background-image: url("../images/wood-background-1.jpeg");
  position: absolute;
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.stoicQuoteContainer {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.stoicQuoteText {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.stoicQuote {
  margin: auto;
  border-radius: 10%;
  text-align: center;
}

.quoteText {
  background-color: rgba(0, 0, 0, 0.5);
  // margin: 5%;
  border-radius: 20%;
  color: white;
  font-size: 28px;
  font-weight: bold;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.quoteHeader {
  margin: 5%;
  border-radius: 10%;
}


//Entries
.entryContainer {
  text-align: center;
}
.entryList {
  padding: 20px;
  margin: 20px 0;
}

.textarea {
	min-height: 5em;
	max-height: 50vh;
	width: 100%;
}

.entryL {
  display: flex;
  flex-wrap: wrap;
}

.entryListItem {
  text-align: center;
}

.btn {
  margin: 10%;
}

///new form

.newForm {
  margin: 10%;
}

.newFormBtns {
  text-align: center;
}


.entry-show-container {
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 20px;
}

.entry-show-content {
  margin-bottom: 20px;
}

css
Copy code
.entry-show-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.entry-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
}



